<div ng-include="'views/nav.html'" />
<section class="layout-container width-fluid">

<div class="row border1" role="row" ng-repeat="row in layout.rowCount track by $index">
    <div ng-repeat="col in layout.colCount[$index] track by $index" class="col-sm-{{col}} border1" role="col">
    {{col}}
    </div>
</div>
    
<!--<div class="row border1" role="row">
    <div class="col-sm-6 border1" role="col"></div>
    <div class="col-sm-6 border1" role="col"></div>
</div>
<div class="row border1" role="row">
    <div class="col-sm-4 border1" role="col"></div>
    <div class="col-sm-4 border1" role="col"></div>
    <div class="col-sm-4 border1" role="col"></div>
</div>
<div class="row border1" role="row">
    <div class="col-sm-8 border1" role="col"></div>
    <div class="col-sm-4 border1" role="col"></div>
</div>-->


</section>