<section class="gencomp">
            <ul>
              <li>
                    <div class="dropdown">
                      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Width
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">100%</a></li>
                        <li><a href="#">980px</a></li>
                      </ul>
                    </div>
                </li>
              <li>
                  <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Device
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" data-id="col-sm-">Mobile</a></li>
                        <li><a href="#" data-id="col-md-">Laptop</a></li>
                        <li><a href="#" data-id="col-lg-">Desktop</a></li>
                      </ul>
                    </div>
                  
                </li>
              <li>
                  <div class="dropdown">
                      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Layout
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu layout" aria-labelledby="dropdownMenu1" ng-click="layout.addPanel($event)">
                        <li><a href="#" data-mode="12">col 1</a></li>
                        <li><a href="#" data-mode="6,6">col 2</a></li>
                        <li><a href="#" data-mode="4,4,4">col 3</a></li>
                        <li><a href="#" data-mode="8,4">col 4</a></li>
                      </ul>
                    </div>
             
                </li>
            </ul>
        </section>

<section class="side-bar">
<ul>
    <li>
        <a class="nav-comp">
            <i class="glyphicon glyphicon-wrench"></i>
            <span>Components</span>
        </a>
    </li>
    <li>
        <a class="nav-comp">
            <i class="glyphicon glyphicon-tasks"></i>
            <span>Structure</span>
        </a>
    </li>
    <li>
        <a class="nav-comp">
            <i class="glyphicon glyphicon-book"></i>
            <span>Fields</span>
        </a>
    </li>
</ul>

</section>